* {
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
}
/* #container { */
/* min-height: 100vh; */
/* border: 2px black solid;
    display: flex; */
/* justify-items: center; */
/* grid-gap: 50px; */
/* display: flex;
    flex-wrap: wrap; */
/* justify-content: space-between; */
/* align-items: center; */
/* align-content: flex-start; */
/* } */
/* @media screen and (max-width: 500px) {
    #container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
} */
.one,
.two,
.three,
.four,
.five,
.six {
    width: 500px;
    height: 250px;
    font-size: 2em;
}
.one {
    background-color: blueviolet;
    grid-column: 1 / span 2;
}
.two {
    background-color: coral;
}
.three {
    background-color: crimson;
}
.four {
    background-color: gold;
}
.five {
    background-color: navy;
}
.six {
    background-color: tomato;
}
h1 {
    color: #00bfa5;
    font-weight: 300 !important;
}
li {
    list-style: none;
    display: inline;
}
.col-9 {
    text-align: left;
}
.nav {
    width: 80%;
    border: 1px black solid;
}
.car {
    display: flex;
    align-items: center;
}
